# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
solver-xray
solver
solver.p
solver.g
solver.m
*.gcda

# macOS
.DS_Store

# Editor
*.swp
*~

# Test results
results.*
